.row {
    top: 10px;
    position: relative;
}

.glyphicon {
    font-size: 30px;
    padding-bottom: 20px;
}

.feature {
    text-align: center;
}

.container {
    max-width: 900px;
}
.lead {
    top: 70px;
    position: relative;
}
.thing-form {
    margin: -20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-family: 'Poiret One';
    font-size: 72px;
    letter-spacing: 3px;
    top: 50px;
    position: relative;
}

.hero-unit {
    background: url('../../assets/images/TennisRacketBG2.jpg') no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
/*    background: #4393B9;*/
}

.footer {
    text-align: center;
    position: relative;
    padding: 30px 0;
    margin-top: 150px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}

.navbar {
    background-color: transparent;
}
